parameters:
  ascii:
    failed: vendor/judapriest/drupal-quality-checker/resources/ascii/ecedi_grumpy.txt
    succeeded: vendor/judapriest/drupal-quality-checker/resources/ascii/ecedi_happy.txt
  git_dir: .
  bin_dir: bin
  tasks:
    phplint: ~
    yamllint: ~
    composer: ~
    jsonlint: ~
    phpcpd: ~
    phpcpd:
      directory: './src'
    phpcs:
      standard: Drupal
